@model GonderiViewModel
@{
    var action = ViewContext.RouteData.Values["action"]?.ToString();
    ViewData["Title"] = action == "Yeni" ? "Yeni Gönderi" : "Gönderiyi Düzenle";
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Baslik" class="form-label">Başlık</label>
        <input asp-for="Baslik" type="text" class="form-control" placeholder="Başlık">
        <span asp-validation-for="Baslik"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Icerik" class="form-label">İçerik</label>
        <textarea asp-for="Icerik" class="form-control"></textarea>
        <span asp-validation-for="Icerik"></span>
    </div>
    <div class="mb-3">
        <label asp-for="KategoriId" class="form-label"></label>
        <select asp-for="KategoriId" asp-items="ViewBag.Kategoriler" class="form-control">
            <option value="">Seçiniz</option>
        </select>
        <span asp-validation-for="KategoriId"></span>
    </div>
    <div>
        <button class="btn btn-primary">Kaydet</button>
        <a asp-action="Index" class="btn btn-danger">İptal</a>
    </div>
</form>

@section Scripts {
    <script>
        $("#Icerik").summernote({
            height: 200
            });
    </script>
}